<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Map接口-->
<mapper namespace="com.searchengine.dao.UserDao">
    <select id="queryOne" resultType="com.searchengine.entity.User">
        select * from user where username = #{username}
    </select>

    <insert id="insertOne" parameterType="com.searchengine.entity.User">
        insert into user(id,username,password) values(#{id},#{username},#{password})
    </insert>
</mapper>